body{
  background-color: darkkhaki;
}

.playerCard{
  border: 3px solid darkgreen;
  background-color: darkseagreen;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playerCard img {
  height: 75px;
  width: 75px;
}